code/*/nohup.out
code/*/Results_*
code/*/test
code/*/yarpgen_out
code/*/barf.log
gcc/build
llvm-project/build
yarpgen/build*
code/*/reduce/*/
code/*/Reduced_*
code/*/*/*/*/*/*/nohup.out
*nohup.out
gcc-releases-gcc-13.2.0.zip
gcc-releases-gcc-13.2.0
llvm-project-llvmorg-16.0.0.zip
llvm-project-llvmorg-16.0.0